.barra_header{
    margin-top: 15px;
    background-color:dimgrey;
    display: flex;
    border-radius: 3%;
    margin-left: -10px; /* Ajusta el valor según el tamaño del margen que desees */
    margin-right: -10px; /* Ajusta el valor según el tamaño del margen que desees */
    padding: 0 10px;
    margin-top: -10px;

}

#Home{
    display: flex;

    
}